# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/repos

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          key: pip-dependency-cache

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          key: pip-dependency-cache
          paths:
            - api/requirements.txt

  test:
    docker:
      - image: circleci/python:3.6.1
    steps:
      - checkout

            # Download and cache dependencies
      - restore_cache:
          key: pip-dependency-cache

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - run:
          name: run tests
          command: |
            cd api
            . venv/bin/activate
            python test_runner.py

      - store_test_results:
          path: api/test-reports

      - store_artifacts:
          path: api/test-reports
          destination: api/test-reports

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build